:root {
    --clr-Very-Dark-Magenta: hsl(300, 43%, 22%);
    --clr-Soft-Pink: hsl(333, 80%, 67%);

    --clr-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --clr-Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --clr-White: hsl(0, 0%, 100%);
    --space-left-right: 1.5rem;
    --space-top-bottom: 4rem;
    --base-font: 'League Spartan', sans-serif;
}

body {
    font-family: var(--base-font);
    font-size: 17px;
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    min-height: 100vh;
}

main {
    max-width: 1440px;
    margin: auto;
}

.most-top-container {
    padding: var(--space-top-bottom) var(--space-left-right);
}

.upper-section {
    text-align: center;
    margin-bottom: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.upper-section__main-header {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: bold;
    color: var(--clr-Very-Dark-Magenta);
    line-height: 0.9;
    margin-bottom: 1rem;
}

.upper-section__brief {
    color: var(--clr-Dark-Grayish-Magenta);
    font-size: clamp(1.1rem, 2vw, 1.4rem);
}

.upper-section__right__contents:not(:last-child) {
    margin-bottom: 1rem;
}

.upper-section__right__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-Light-Grayish-Magenta);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    max-width: 30rem;
    margin: auto;
}

.upper-section__right__contents p {
    color: var(--clr-Very-Dark-Magenta);
    font-weight: bold;
}

.bottom-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.bottom-section__card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    background-color: var(--clr-Very-Dark-Magenta);
    color: var(--clr-Light-Grayish-Magenta);
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 30rem;
    margin: auto;

    -webkit-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.2);
}

.card__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.card__avater {
    max-width: 3rem;
    border-radius: 50%;
}

.profile__name {
    font-weight: bold;
}

.profile_verify {
    font-size: 1rem;
    color: var(--clr-Soft-Pink);
}


.attribution {
    font-size: 16px;
    padding: 0.3rem 0.5rem;
    color: var(--clr-Very-Dark-Magenta);
    border-left: 2px solid var(--clr-Very-Dark-Magenta);
    border-right: 2px solid var(--clr-Very-Dark-Magenta);
    border-radius: 10px;
    margin: 1rem auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.attribution a {
    color: var(--clr-Soft-Pink);
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.attribution a:hover {
    color: rgb(239, 149, 70);
}

@media (min-width: 800px) {
    body {
        font-size: 19px;
        background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
    }

    .most-top-container {
        padding: 8% 11%;
    }

    .upper-section {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 6rem;
    }

    .upper-section__right__contents {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 80%;
        margin-right: 0;
    }

    .upper-section__main-header {
        text-align: left;
        margin-bottom: 1.5rem;
    }

    .upper-section__brief {
        text-align: left;
    }

    .upper-section__right__contents {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .reviews {
        position: relative;
        -webkit-transform: translateX(-6rem);
            -ms-transform: translateX(-6rem);
                transform: translateX(-6rem);
    }

    .guru {
        position: relative;
        -webkit-transform: translateX(-3rem);
            -ms-transform: translateX(-3rem);
                transform: translateX(-3rem);
    }

    .bottom-section {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }

    .colton {
        position: relative;
        -webkit-transform: translateY(-2rem);
            -ms-transform: translateY(-2rem);
                transform: translateY(-2rem);
    }

    .irene {
        position: relative;
        -webkit-transform: translateY(-1rem);
            -ms-transform: translateY(-1rem);
                transform: translateY(-1rem);
    }
}
